* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.8rem;
    color: rgb(100, 96, 96);
  }

  h1 {
    color: rgb(114, 106, 106);
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;

  }

  h2 {
    color: rgb(114, 106, 106);
    font-family: Arial;
  }

  /*.div-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 5px;
  }*/

  #navbar {
    position: fixed;
    float: left;
    width: 270px;
    padding: 10px;
    font-size: 18px;
  }

  .section-div {
    float: right;
    width: 960px;
  }

  .nav-ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    list-style-type: none;
    padding: 4px;
    margin-top: -16px;

  }

  .nav-ul a {
    width: 100%;
    height: 25px;
    text-decoration: none;
    color: rgb(82, 77, 77);
    padding: 14px 16px;
  }

  .nav-ul li {
    width: 100%;
    margin: 10px 0;
    font-size: 16px;
    border-top: 1px solid black;


  }

  .nav-header li {
    font-size: 18px;
    border: none;
  }

  .first-sec-ul {
    margin-left: 60px;
  }

  .main-section p {
    margin: 15px 15px 15px 0;
  }

  .last-li {
  margin-bottom: 16px;
  }

  code {
    display: inline-block;
    width: 800px;
    font-family: monospace;
    background-color: rgb(241, 237, 237);
    margin-left: 50px;
    padding: 10px;
  }

  .navbar header {
    margin-bottom: 10px;
  }

  nav ul header.nav-header {
    font-size: 18px;
    border: none;
  }

  @media screen and (max-height: 450px) {
    .div-container {
    display: flex;
    flex-direction: column;
    #navbar  {padding-top: 15px;}
    #navbar a {font-size: 18px;}
    }
  }

  hr {
    color: black;
  
  }

  .first-nav-li {
    border: none;
  }

  .back-home {
    text-align: center;
  }